@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-blue-violet-50: #eff4fe;
  --color-blue-violet-100: #e2ebfd;
  --color-blue-violet-200: #cbd9fa;
  --color-blue-violet-300: #acc0f5;
  --color-blue-violet-400: #8b9dee;
  --color-blue-violet-500: #6e7ce6;
  --color-blue-violet-600: #565bd9;
  --color-blue-violet-700: #4447be;
  --color-blue-violet-800: #393c9a;
  --color-blue-violet-900: #353a7a;
  --color-blue-violet-950: #1f2147;
}
